<template>
    <div class="projects">
        <router-view></router-view>
    </div>
</template>

<script>
import { defineComponent } from 'vue'

export default  defineComponent({
    name: 'Projects'
})
</script>

<style lang="scss" scoped>

.projects {
    padding: 1.25rem;
}
    
</style>