<template>
    <div class="wrapper-list">
        <Form @saveTask="saveTask"/>
        <div class="list-tasks">
            <Task v-for="(task, index) in tasks" :key="index" :task="task"/>
            <Box v-if="listEmpty">
            Você não iniciou nenhuma atividade ainda!
            </Box>
        </div>
    </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import Form from '@/components/Form.vue'
import Task from '@/components/Task.vue'
import Box from '@/components/Box.vue'
import ITask from '@/interfaces/ITasks'

export default defineComponent({
  name: 'App',
  components: {
    Form,
    Task,
    Box
  },
  data() {
    return {
      tasks: [] as ITask[]
    }
  },
  methods: {
    saveTask(task: ITask) {
      this.tasks.push(task)
    },
  },
  computed: {
    listEmpty(): boolean {
      return this.tasks.length === 0
    }
  }
});
</script>

<style scoped>
    .list-tasks{
        margin: 16px;
    }
</style>
