<template>
    <button class="button" @click="clickButton" :disabled="disabledButton">
        <span class="icon">
            <i :class="nameIcon"></i>
        </span>
        <span>{{ labelButton }}</span>
    </button>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
    name: 'CustomButtonWhitIcon',
    emits: ['clickButton'], 
    props: {
        disabledButton: {
            type: Boolean
        },
        nameIcon: {
            type: String,
            required: true
        },
        labelButton: {
            type: String,
            required: true
        }
    },
    methods: {
        clickButton(): void {
            this.$emit('clickButton')
        }
    }
})
</script>