<template>
    <div class="box form">
        <div class="columns">
            <div class="column is-5" role="form" aria-label="Formulário para criação de uma nova tarefa">
                <input 
                    type="text" 
                    name="task" 
                    class="input" 
                    placeholder="Qual tarefa você deseja iniciar?"
                    v-model="taskName"
                />
            </div>
            <div class="column is-3">
                <div class="select">
                    <select v-model="idProjectSelected">
                        <option value="">Selecione um projeto</option>       
                        <option 
                            v-for="project in projects"
                            :value="project.id"
                            :key="project.id"
                        >
                            {{ project.name }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="column">
                <Timer @finishedStopwatch="insertTaskInList"/>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { computed, defineComponent } from 'vue'
import Timer from './Timer.vue'
import { useStore } from 'vuex'
import { key } from '@/store'
import { TypeNotification } from '@/interfaces/INotification'
import { NOTIFY } from '@/store/types-mutations'
import { notifyMixin } from '@/mixins/notify'



export default defineComponent ({
    name: 'Form',
    components: { Timer },
    emits: ['saveTask'],
    data() {
        return {
            taskName: '',
            idProjectSelected: ''
        }
    },
    mixins: [
        notifyMixin
    ],
    methods: {
        insertTaskInList(elapsedTime: number): void {
            const project = this.projects.find( project => project.id === this.idProjectSelected)
            if(!project) {
                this.notify(TypeNotification.FAIL, 'Ops!', 'Selecione um projeto antes de finalizar a tarefa')
                return;
            }
            this.$emit('saveTask', {
                duration: elapsedTime,
                description: this.taskName,
                project: project
            })
            this.taskName = ''
        }
    },
    setup(){ 
        const store = useStore(key)
        return {
            store,
            projects: computed(()=> store.state.projects)
        }
    }
})
</script>

<style>
.form {
    color: var(--text-primary);
    background-color: var(--bg-primary);
}

    
</style>