<template>
    <div class="notifications">
        <article class="message"
        :class="context[notification.type]"
        v-for="notification in notifications" :key="notification.id">
            <div class="message-header">
                {{ notification.title }}
            </div>
            <div class="message-body">
                {{ notification.description }}
            </div>
        </article>
    </div>
</template>

<script>

import {computed, defineComponent} from 'vue'
import { useStore } from '@/store'
import { TypeNotification } from '@/interfaces/INotification'

export default defineComponent({
    name: 'Notification',
    data() {
        return {
            context: {
                [TypeNotification.SUCCESS]: 'is-success',
                [TypeNotification.WARNING]: 'is-warning',
                [TypeNotification.FAIL]: 'is-danger',
            }
        }
    },
    setup() {
        const store = useStore()
        return {
            notifications: computed(()=> store.state.notifications)
        }
    }
})
</script>

<style lang="scss" scoped>

.notifications {
    position: absolute;
    right: 0;
    width: 300px;
    padding: 8px;
    z-index: 100;
}
    
</style>