<template>
    <header>
        <h1>
            <img src="../assets/logo.png" alt="logo do projeto">
        </h1>

        <div class="has-text-centered">
            <button class="button" @click="changeModeTheme">
                {{ labelButton }}
            </button>
        </div>

        <nav class="panel mt-5">
            <ul>
                <li>
                    <router-link to="/" class="link-item">
                        <i class="fas fa-tasks"></i>
                        Tarefas
                    </router-link>
                </li>

                <li>
                    <router-link to="/projetos" class="link-item">
                        <i class="fas fa-project-diagram"></i>
                        Projetos
                    </router-link>
                </li>
            </ul>
        </nav>
    </header>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
    name: 'SideBar',
    emits: ['changeModeTheme'],
    data() {
        return {
            darkModeEnable: false
        }
    },
    computed: {
        labelButton(): string {
            if(this.darkModeEnable) {
                return 'Desativar modo escuro'
            } 
            
            return 'Ativar modo escuro'
        }
    },
    methods: {
        changeModeTheme(): void {
            this.darkModeEnable = !this.darkModeEnable
            this.$emit('changeModeTheme', this.darkModeEnable)
        }
    }
     
});
</script>

<style scoped lang="scss">
header{
    background: #0d3b66;
    width: 100%;
    height: 100vh;
    padding: 1em;
}

nav.panel {
    box-shadow: none;
    li {
        margin: 8px 0;
        .link-item {
            color: #FFF;

            i.fas {
                margin-right: 8px;
            }

            &:hover {
                color: #FAF0CA;
            }

            &.link-router-active {
                color: #FAF0CA;
                font-weight: 500;
            }
        }
    }
}

@media only screen and (max-width: 768px){
    header{
        padding: 2.5em;
        height: auto;
    }
}
</style>