<template>
    <section>
        <i class="fa-regular fa-clock"></i>
        <strong class="display">{{ currentTime }}</strong>
    </section>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
    name: 'Stopwatch',
    props: {
        timeSec: {
            type: Number,
            default: 0
        }
    },
    computed: {
        currentTime(): string {
            return new Date(this.timeSec * 1000).toISOString().substr(11, 8)
        }
    },
})
</script>

<style>
    .display {
        color: var(--text-primary);
        background-color: var(--bg-primary);
    }
</style>