<template>
    <Box>
        <div class="columns">
            <div class="column is-4">
                {{ task.description || 'Tarefa sem descrição'}}
            </div>
            <div class="column is-3">
                {{ task.project?.name || 'N/D'}}
            </div>
            <div class="column">
                <Stopwatch :timeSec="task.duration"/>
            </div>
        </div>
    </Box>
</template>

<script lang="ts">
import ITask from '@/interfaces/ITasks'
import { defineComponent, PropType } from 'vue'
import Stopwatch from './Stopwatch.vue'
import Box from './Box.vue'

export default  defineComponent({
    name: 'Task',
    components:{
        Stopwatch,
        Box
    }, 
    props: {
        task: {
            type: Object as PropType<ITask>,
            required: true
        }
    }
})
</script>