<template>
    <div class="is-flex is-align-items-center is-justify-content-space-between"> 
        <Stopwatch :timeSec="timeSec"/>
        <CustomButtonWhitIcon @clickButton="initCount" labelButton="play" :disabledButton="stopwatchEnabled" nameIcon="fas fa-play"/>
        <CustomButtonWhitIcon @clickButton="stopCount" labelButton="stop" :disabledButton="!stopwatchEnabled" nameIcon="fas fa-stop"/>
    </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import Stopwatch from './Stopwatch.vue'
import CustomButtonWhitIcon from './CustomButtonWhitIcon.vue'

export default defineComponent ({
    name: 'Timer',
    emits: ['finishedStopwatch'],
    components: { 
        Stopwatch,
        CustomButtonWhitIcon
    },
    data () {
        return {
            timeSec: 0,
            refCount: 0,
            stopwatchEnabled: false 
        }
    },

    methods: {
        initCount() {
            this.stopwatchEnabled = true
            this.refCount = setInterval(()=>{
                this.timeSec+= 1
            }, 1000)
        },

        stopCount(){
            this.stopwatchEnabled = false
            clearInterval(this.refCount)
            this.$emit('finishedStopwatch', this.timeSec)
            this.timeSec = 0
        }
    }
})
</script>