<template>
    <section>
        <h1 class="title" v-if="id">Editar Projeto</h1>
        <h1 class="title" v-else>Novo Projeto</h1>

        <form @submit.prevent="saveProject">
            <div class="field">
                <label for="nameProject">Nome do projeto</label>
                <input 
                    type="text"
                    class="input"
                    v-model="nameProject"
                    id="name-project"
                />
            </div>
            <div class="field">
                <button class="button" type="submit" :disabled="!nameProject">Salvar</button>
            </div>
        </form>
    </section>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import { useStore } from '@/store'
import { EDIT_PROJECT, ADD_PROJECT } from '@/store/types-mutations'
import { TypeNotification } from '@/interfaces/INotification'
import useNotify from '@/hooks/notify'

export default defineComponent({
    name: 'Form',
    props: {
        id : {
            type: String
        }
    },
    mounted() {
        if(this.id) {
            const project = this.store.state.projects.find(project => project.id == this.id)
            this.nameProject = project?.name || ''
        }
    },
    data() {
        return {
            nameProject: '',
        };
    },
    methods: {
        saveProject() {
            if(this.id) {
                this.store.commit(EDIT_PROJECT, {
                    id: this.id,
                    name: this.nameProject
                })
            }else {
                this.store.commit(ADD_PROJECT, this.nameProject)
            }
            
            this.nameProject = '';
            this.notify(TypeNotification.SUCCESS, 'Novo projeto, salvo', 'Tudo ok, seu projeto ja está disponível')
            this.$router.push('/projetos')
        },
        
    },
    setup() {
        const store = useStore()
        const { notify } = useNotify()
        return {
            store,
            notify
        }
    }
})
</script>