<template>
    <section>
        <h1 class="title">Projetos</h1>

        <router-link to="/projetos/novo" class="button">
            <span class="icon is-small">
                <i class="fas fa-plus"></i>
            </span>
            <span>Novo projeto</span>
        </router-link>

        <table class="table is-fullwidth">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="project in projects" :key="project.id">
                    <td>{{ project.id }}</td>
                    <td>{{ project.name }}</td>
                    <td>
                        <router-link :to="`/projetos/${project.id}`" class="button">
                            <span class="icon is-small">
                                <i class="fas fa-pencil-alt"></i>
                            </span>
                        </router-link>

                        <button class="button ml-2 is-danger" @click="delete(project.id)">
                            <span class="icon is-small">
                                <i class="fas fa-trash"></i>
                            </span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</template>

<script lang="ts">
import { useStore } from '@/store'
import { computed, defineComponent } from 'vue'
import { DELETE_PROJECT } from '@/store/types-mutations'

export default defineComponent({
    name: 'List',
    methods: {
        delete(id: string) {
            this.store.commit(DELETE_PROJECT, id)

        }
    },
    setup() {
        const store = useStore()
        return {
            projects: computed(()=> store.state.projects),
            store
        }
    },
})
</script>