<template>
  <main class="columns is-gapless is-multiline" :class="{'dark-mode': darkModeEnable }">
    <div class="column is-one-quarter">
      <SideBar @changeModeTheme="changeTheme"/>
    </div>
    <div class="column is-three-quarter content">
      <Notification />
      <router-view></router-view>
    </div>
  </main>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import SideBar from './components/SideBar.vue'
import Notification from './components/Notification.vue'

export default defineComponent({
  name: 'App',
  components: {
    SideBar,
    Notification
  },
  data() {
    return {
      darkModeEnable: false
    }
  },
  methods: {
    changeTheme(darkModeEnable: boolean): void {
      this.darkModeEnable = darkModeEnable
    }
  }
});
</script>

<style scoped>
.list-tasks{
  margin: 16px;
}

main {
  --bg-primary: #fff;
  --text-primary: #000;
}

main.dark-mode {
  --bg-primary: #2b2d42;
  --text-primary: #ddd;
}

.content {
  background-color: var(--bg-primary);
}
</style>
